.education{
    min-height:100vh;
    padding:100px 8%;
    background:linear-gradient(135deg,#F8FAFC,#EEF2FF,#FDF4FF);
}

.heading{
    text-align:center;
    font-size:42px;
    margin-bottom:40px;
}

.heading span{
    color:#7114db;
}

.table-container{
    overflow-x:auto;
}

.education-table{
    width:100%;
    border-collapse:collapse;
    background:#fff;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.12);
}

.education-table th{
    background:#7114db;
    color:#fff;
    padding:18px;
    font-size:18px;
}

.education-table td{
    padding:18px;
    text-align:center;
    border-bottom:1px solid #ddd;
}

.education-table tr:hover{
    background:#f8f6ff;
}

.table-img{
    width:120px;
    height:80px;
    object-fit:cover;
    border-radius:10px;
}

.completed{
    background:#22c55e;
    color:#fff;
    padding:8px 14px;
    border-radius:20px;
}

.studying{
    background:#f59e0b;
    color:#fff;
    padding:8px 14px;
    border-radius:20px;
}

.career{
    background:linear-gradient(135deg,#2563EB,#7114db);
    color:#fff;
    padding:8px 14px;
    border-radius:20px;
}

@media(max-width:768px){

    .table-img{
        width:90px;
        height:60px;
    }

    .education-table th,
    .education-table td{
        padding:10px;
        font-size:14px;
    }

}